/*Creator: steppe
Date Created: 10.30.2018
Date Last Modified: 10.30.2018
*/

img {
    width: 350px;
    height: 175px;
}
header{
    text-align: center;
}
ul {
    list-style: none;
}
footer  {
    text-align: center;
}

